<?xml version="1.0" ?>
<robot name="mini_cheetah">
	<link name="front_base">
		<inertial>
			<mass value="345"/>
			<origin xyz="0.0 0.0 0.0"/>
			<inertia ixx="46.853123" ixy="0" ixz="0" iyy="1507.352382" iyz="0" izz="177.673807"/>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.8 0.38 0.61"/>
			</geometry>
			<material name="brown">
				<color rgba="0.5 0.3 0.2 0.5"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0.05" rpy="0 0 0"/>
			<geometry>
				<box size=".8 0.38 0.51"/>
			</geometry>
		</collision>
	</link>
	<joint name="0_base_joint" type="revolute">
		<axis xyz="0 1 0"/>
		<origin xyz="-0.5 0 0.3" rpy="0 0 0"/>
		<parent link="front_base"/>
		<child link="back_base"/>
		<limit effort="1100" lower="-0.2" upper="0.2" velocity="41"/>
	</joint>
	<link name="back_base">
		<inertial>
			<mass value="145"/>
			<origin xyz="0.0 0.0 0.0"/>
			<inertia ixx="46.853123" ixy="0" ixz="0" iyy="1507.352382" iyz="0" izz="177.673807"/>
		</inertial>
		<visual>
			<origin xyz="-0.27 0 -0.3" rpy="0 0 0"/>
			<geometry>
				<box size="0.51 0.38 0.61"/>
			</geometry>
			<material name="brown">
				<color rgba="0.5 0.3 0.2 0.5"/>
			</material>
		</visual>
		<collision>
			<origin xyz="-0.32 0 -0.25" rpy="0 0 0"/>
			<geometry>
				<box size="0.41 0.38 0.51"/>
			</geometry>
		</collision>
	</link>
	<!-- RF Leg -->
	<!-- RF Hip and HAA -->
	<joint name="3_rf_haa" type="revolute">
		<axis xyz="-1 0 0"/>
		<origin xyz="0.35 -0.225 -0.23" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
		<parent link="front_base"/>
		<child link="rf_hip"/>
		<limit effort="1000" lower="-0.2" upper="0.2" velocity="41"/>
	</joint>
	<link name="rf_hip">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.055 0.0 0."/>
			<inertia ixx="0.013332" ixy="0.002030" ixz="0.00001575" iyy="0.019595" iyz="0.000033" izz="0.015536"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="1.5708 0 0"/>
			<geometry>
				<cylinder length="0.05" radius="0.075"/>
			</geometry>
		</visual>
	</link>
	<!-- LF Thigh and HFE -->
	<joint name="rf_hfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 0.6 0.0" xyz="0.0 -0.12 -0.05"/>
		<parent link="rf_hip"/>
		<child link="rf_thigh"/>
		<limit effort="700" lower="-0.7" upper="0.6" velocity="41"/>
	</joint>
	<link name="rf_thigh">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.0 0.0 -0.02"/>
			<inertia ixx="0.053104" ixy="0.006561" ixz="0.000348" iyy="0.056318" iyz="0.000040" izz="0.010926"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 -0.2"/>
			<geometry>
				<cylinder length="0.2" radius="0.075"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.2"/>
			<geometry>
				<cylinder length="0.2" radius="0.075"/>
			</geometry>
		</collision>
	</link>
	<!-- LF Shank and KFE -->
	<joint name="rf_kfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 -0.6 0.0" xyz="0.0 0.0 -0.45"/>
		<parent link="rf_thigh"/>
		<child link="rf_shank"/>
		<limit effort="1000" lower="-1.3" upper="0.1" velocity="26.8"/>
	</joint>
	<link name="rf_shank">
		<inertial>
			<mass value="1.404"/>
			<origin xyz="0.0 0.0 -0.061"/>
			<inertia ixx="0.081721" ixy="0" ixz="0" iyy="0.082721" iyz="0" izz="0.002001"/>
		</inertial>
		<visual>
			<geometry>
				<cylinder length="0.25" radius="0.04"/>
			</geometry>
			<origin xyz="0.05 0.0 -0.15"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.25" radius="0.04"/>
			</geometry>
			<origin xyz="0.05 0.0 -0.15"/>
		</collision>
	</link>
	<!-- LF Pastern and PFE -->
	<joint name="rf_pfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.05 0 0.0" xyz="0.0 0.0 -0.3"/>
		<parent link="rf_shank"/>
		<child link="rf_pastern"/>
		<limit effort="500" lower="-0.3" upper="2.2" velocity="26.8"/>
	</joint>
	<link name="rf_pastern">
		<visual>
			<origin xyz="0.02 0.0 -0.14"/>
			<geometry>
				<cylinder length="0.15" radius="0.03"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.02 0.0 -0.14"/>
			<geometry>
				<cylinder length="0.15" radius="0.03"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.875"/>
			<origin xyz="0.05 0.0 -0.061"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- LF FOOT -->
	<joint name="rf_pastern_to_foot" type="revolute">
		<axis xyz="0 1 0"/>
		<parent link="rf_pastern"/>
		<child link="rf_foot"/>
		<origin rpy="0.0 0.0 0.0" xyz="0.025 0.0 -0.3"/>
		<limit lower="-0.3" upper="1.8" effort="300" velocity="2.0"/>
	</joint>
	<link name="rf_foot">
		<visual>
			<origin xyz="0.0 0.0 -0.025"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.025"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
		</collision>
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 0.0"/>
			<mass value="0.20"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- LF Leg -->
	<!-- LF Hip and HAA -->
	<joint name="4_lf_haa" type="revolute">
		<axis xyz="1 0 0"/>
		<origin xyz="0.35 0.225 -0.23" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
		<parent link="front_base"/>
		<child link="lf_hip"/>
		<limit effort="1000" lower="-0.2" upper="0.2" velocity="41"/>
	</joint>
	<link name="lf_hip">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.055 0.0 0."/>
			<inertia ixx="0.013332" ixy="0.002030" ixz="0.00001575" iyy="0.019595" iyz="0.000033" izz="0.015536"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="1.5708 0 0"/>
			<geometry>
				<cylinder length="0.05" radius="0.075"/>
			</geometry>
		</visual>
	</link>
	<!-- LF Thigh and HFE -->
	<joint name="lf_hfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 0.6 0.0" xyz="0.0 0.12 -0.05"/>
		<parent link="lf_hip"/>
		<child link="lf_thigh"/>
		<limit effort="700" lower="-0.7" upper="0.6" velocity="41"/>
	</joint>
	<link name="lf_thigh">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.0 0.0 -0.02"/>
			<inertia ixx="0.053104" ixy="0.006561" ixz="0.000348" iyy="0.056318" iyz="0.000040" izz="0.010926"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 -0.2"/>
			<geometry>
				<cylinder length="0.2" radius="0.075"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.2"/>
			<geometry>
				<cylinder length="0.2" radius="0.075"/>
			</geometry>
		</collision>
	</link>
	<!-- LF Shank and KFE -->
	<joint name="lf_kfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 -0.6 0.0" xyz="0.0 0.0 -0.45"/>
		<parent link="lf_thigh"/>
		<child link="lf_shank"/>
		<limit effort="1000" lower="-1.3" upper="0.1" velocity="26.8"/>
	</joint>
	<link name="lf_shank">
		<inertial>
			<mass value="1.404"/>
			<origin xyz="0.0 0.0 -0.061"/>
			<inertia ixx="0.081721" ixy="0" ixz="0" iyy="0.082721" iyz="0" izz="0.002001"/>
		</inertial>
		<visual>
			<geometry>
				<cylinder length="0.25" radius="0.04"/>
			</geometry>
			<origin xyz="0.05 0.0 -0.15"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.25" radius="0.04"/>
			</geometry>
			<origin xyz="0.05 0.0 -0.15"/>
		</collision>
	</link>
	<!-- LF Pastern and PFE -->
	<joint name="lf_pfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.05 0 0.0" xyz="0.0 0.0 -0.3"/>
		<parent link="lf_shank"/>
		<child link="lf_pastern"/>
		<limit effort="500" lower="-0.3" upper="2.2" velocity="26.8"/>
	</joint>
	<link name="lf_pastern">
		<visual>
			<origin xyz="0.02 0.0 -0.14"/>
			<geometry>
				<cylinder length="0.15" radius="0.03"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.02 0.0 -0.14"/>
			<geometry>
				<cylinder length="0.15" radius="0.03"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.875"/>
			<origin xyz="0.05 0.0 -0.061"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- LF FOOT -->
	<joint name="lf_pastern_to_foot" type="revolute">
		<axis xyz="0 1 0"/>
		<parent link="lf_pastern"/>
		<child link="lf_foot"/>
		<origin rpy="0.0 0.0 0.0" xyz="0.025 0.0 -0.3"/>
		<limit lower="-0.3" upper="1.8" effort="300" velocity="2.0"/>
	</joint>
	<link name="lf_foot">
		<visual>
			<origin xyz="0.0 0.0 -0.025"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.025"/>
			<geometry>
				<cylinder length="0.02" radius="0.05"/>
			</geometry>
		</collision>
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 0.0"/>
			<mass value="0.20"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- RH Leg -->
	<!-- RH Hip and HAA -->
	<joint name="1_rh_haa" type="revolute">
		<axis xyz="1 0 0"/>
		<origin rpy="0 3.141592 0" xyz="-0.3 -0.225 -0.4"/>
		<parent link="back_base"/>
		<child link="rh_hip"/>
		<limit effort="1000" lower="-0.2" upper="0.2" velocity="41"/>
	</joint>
	<link name="rh_hip">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.055 0.0 0.0"/>
			<inertia ixx="0.013332" ixy="0.002030" ixz="0.00001575" iyy="0.019595" iyz="0.000033" izz="0.015536"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="1.5708 0 0"/>
			<geometry>
				<cylinder length="0.05" radius="0.075"/>
			</geometry>
		</visual>
	</link>
	<!-- LH Thigh and HFE -->
	<joint name="rh_hfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 2.841592 0.0" xyz="0.0 -0.12 -0.05"/>
		<parent link="rh_hip"/>
		<child link="rh_thigh"/>
		<limit effort="700" lower="-0.7" upper="1.5" velocity="41"/>
	</joint>
	<link name="rh_thigh">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.0 0.016 -0.02"/>
			<inertia ixx="0.053104" ixy="0.006561" ixz="0.000348" iyy="0.056318" iyz="0.000040" izz="0.010926"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 -0.2"/>
			<geometry>
				<cylinder length="0.2" radius="0.09"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.3"/>
			<geometry>
				<cylinder length="0.2" radius="0.09"/>
			</geometry>
		</collision>
	</link>
	<!-- LH Shank and KFE -->
	<joint name="rh_kfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 0.65 0.0" xyz="0.0 0.0 -0.5"/>
		<parent link="rh_thigh"/>
		<child link="rh_shank"/>
		<limit effort="1000" lower="-0.2" upper="0.8" velocity="26.8"/>
	</joint>
	<link name="rh_shank">
		<inertial>
			<mass value="1.404"/>
			<origin xyz="0.0 0.0 -0.061"/>
			<inertia ixx="0.081721" ixy="0" ixz="0" iyy="0.082721" iyz="0" izz="0.002001"/>
		</inertial>
		<visual>
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="-0.05 0.0 -0.15"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="-0.05 0.0 -0.15"/>
		</collision>
	</link>
	<!-- LH Pastern and PFE  -->
	<joint name="rh_pfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 -0.35 0.0" xyz="-0.045 0.0 -0.35"/>
		<parent link="rh_shank"/>
		<child link="rh_pastern"/>
		<limit effort="500" lower="-0.3" upper="2.5" velocity="26.8"/>
	</joint>
	<link name="rh_pastern">
		<visual>
			<origin xyz="0.0 0.0 -0.15"/>
			<geometry>
				<cylinder length="0.25" radius="0.03"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.15"/>
			<geometry>
				<cylinder length="0.25" radius="0.03"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.875"/>
			<origin xyz="0.0 0.0 -0.061"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- LH FOOT  -->
	<joint name="rh_pastern_to_foot" type="revolute">
		<axis xyz="0 1 0"/>
		<parent link="rh_pastern"/>
		<child link="rh_foot"/>
		<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.35"/>
		<limit lower="-0.3" upper="1.8" effort="300" velocity="2.0"/>
	</joint>
	<link name="rh_foot">
		<visual>
			<origin xyz="0.0 0.0 -0.03"/>
			<geometry>
				<cylinder length="0.04" radius="0.05"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.03"/>
			<geometry>
				<cylinder length="0.04" radius="0.05"/>
			</geometry>
		</collision>
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 0.0"/>
			<mass value="0.20"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- LH Leg -->
	<!-- LH Hip and HAA -->
	<joint name="2_lh_haa" type="revolute">
		<axis xyz="-1 0 0"/>
		<origin rpy="0 3.141592 0" xyz="-0.3 0.225 -0.4"/>
		<parent link="back_base"/>
		<child link="lh_hip"/>
		<limit effort="1000" lower="-0.2" upper="0.2" velocity="41"/>
	</joint>
	<link name="lh_hip">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.055 0.0 0.0"/>
			<inertia ixx="0.013332" ixy="0.002030" ixz="0.00001575" iyy="0.019595" iyz="0.000033" izz="0.015536"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="1.5708 0 0"/>
			<geometry>
				<cylinder length="0.05" radius="0.075"/>
			</geometry>
		</visual>
	</link>
	<!-- LH Thigh and HFE -->
	<joint name="lh_hfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 2.841592 0.0" xyz="0.0 0.12 -0.05"/>
		<parent link="lh_hip"/>
		<child link="lh_thigh"/>
		<limit effort="700" lower="-0.7" upper="1.5" velocity="41"/>
	</joint>
	<link name="lh_thigh">
		<inertial>
			<mass value="4.558"/>
			<origin xyz="0.0 0.016 -0.02"/>
			<inertia ixx="0.053104" ixy="0.006561" ixz="0.000348" iyy="0.056318" iyz="0.000040" izz="0.010926"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 -0.2"/>
			<geometry>
				<cylinder length="0.2" radius="0.09"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.3"/>
			<geometry>
				<cylinder length="0.2" radius="0.09"/>
			</geometry>
		</collision>
	</link>
	<!-- LH Shank and KFE -->
	<joint name="lh_kfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 0.65 0.0" xyz="0.0 0.0 -0.5"/>
		<parent link="lh_thigh"/>
		<child link="lh_shank"/>
		<limit effort="1000" lower="-0.2" upper="0.8" velocity="26.8"/>
	</joint>
	<link name="lh_shank">
		<inertial>
			<mass value="1.404"/>
			<origin xyz="0.0 0.0 -0.061"/>
			<inertia ixx="0.081721" ixy="0" ixz="0" iyy="0.082721" iyz="0" izz="0.002001"/>
		</inertial>
		<visual>
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="-0.05 0.0 -0.15"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="-0.05 0.0 -0.15"/>
		</collision>
	</link>
	<!-- LH Pastern and PFE  -->
	<joint name="lh_pfe" type="revolute">
		<axis xyz="0 1 0"/>
		<origin rpy="0.0 -0.35 0.0" xyz="-0.045 0.0 -0.35"/>
		<parent link="lh_shank"/>
		<child link="lh_pastern"/>
		<limit effort="500" lower="-0.3" upper="2.5" velocity="26.8"/>
	</joint>
	<link name="lh_pastern">
		<visual>
			<origin xyz="0.0 0.0 -0.15"/>
			<geometry>
				<cylinder length="0.25" radius="0.03"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.15"/>
			<geometry>
				<cylinder length="0.25" radius="0.03"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.875"/>
			<origin xyz="0.0 0.0 -0.061"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
	<!-- LH FOOT  -->
	<joint name="lh_pastern_to_foot" type="revolute">
		<axis xyz="0 1 0"/>
		<parent link="lh_pastern"/>
		<child link="lh_foot"/>
		<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.35"/>
		<limit lower="-0.3" upper="1.8" effort="300" velocity="2.0"/>
	</joint>
	<link name="lh_foot">
		<visual>
			<origin xyz="0.0 0.0 -0.03"/>
			<geometry>
				<cylinder length="0.04" radius="0.05"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.03"/>
			<geometry>
				<cylinder length="0.04" radius="0.05"/>
			</geometry>
		</collision>
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 0.0"/>
			<mass value="0.20"/>
			<inertia ixx="0.122692" ixy="0" ixz="0" iyy="0.124194" iyz="0" izz="0.003005"/>
		</inertial>
	</link>
</robot>